/* tasks */

.taskResults {
    width: 30%;
    margin: auto;
    min-height: 5vh;
    border: 1px solid gainsboro;
    display: flex;
    margin-top: 30px;
    background: rgb(214, 239, 241);
}

.tasksSection {
    display: grid;
    grid-template-columns: 60px 1fr 67px;
    grid-template-rows: 70px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    padding: 10px;
}

.taskDetail {
    width: 50%;
    margin-left: 32px;
    font-size: 13px;
}

.taskDetail> .taskValue {
    line-height: 9px;
    margin: 0;
}

.img {
    cursor: pointer;
    margin-left: 2px;
    background: gray;
    border: 1px solid gray;
    border-radius: 5px;
    width: 47px;
}

.edit,
.trash {
    padding: 5px;
    cursor: pointer;
    margin-left: 7px;
    background: white;
    border-radius: 6px;
    border: none;
}

.select {
    width: 100%;
    padding: 15px;
    background: #fff;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

@media screen and (max-width:1100px) {
    .taskResults {
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
    .taskResults {
        width: 95%;
    }
}